* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text: #ffff;
    --bg: #000000;
}

/* .outerNav > innerNav > Navleft > img , h1 */

/* outerNav > innerNav > NavRight > ul > li */


.outerNav {
    overflow-x: hidden;
    width: 100vw;


    background-color: transparent;
    top: 0%;
    background-color: var(--bg);
    /* color: var(--text);
    backdrop-filter: blur(3px); */
    position: fixed;

    background-color: transparent;
    z-index: 1;
    top: 0%;
    /* position: absolute; */
}

.outerNav>.innerNav {
    padding: 2% 4%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

.outerNav>.innerNav>.Navleft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.outerNav>.innerNav>.Navleft>h1 {
    font-size: 2.5rem;
    cursor: context-menu;
}

.outerNav>.innerNav>.NavRight {
    width: 500px;
}

.outerNav>.innerNav>.NavRight>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-family: sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.outerNav>.innerNav>.NavRight>ul>li {
    cursor: pointer;
}
.outerNav>.innerNav>.NavRight>ul>li  > a{
    text-decoration: none;
}
.outerNav>.innerNav>.NavRight>ul>li:hover {
    opacity: 0.8;

}

@media (max-width:800px) {
    .innerNav {
        padding: 0px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: center;
        width: 100%;

    }
}

@media (max-width:472px) {
    .outerNav>.innerNav {
        padding: 2% 0%;
    }

    .outerNav>.innerNav>.NavRight>ul {
      
        font-size: 1rem;
        letter-spacing: 0rem;
    }
}